
.animated2 {
  @include animation-duration(400ms);
  @include animation-fill-mode(both);
}

@include keyframes(slideDown) {
	from {
		@include transform(translate3d(0, 10%, 0));
		opacity: 0;
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}

.slideDown {
  @include animation-name(slideDown);
}


@include keyframes(fadeOut2) {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut2 {
  @include animation-name(fadeOut2);
}