
// Row
.container {
	@include outer-container;
	padding: 0 20px;
}

// Columns
.col-1 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(1);
	}
}

.col-2 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(2);
	}
}

.col-3 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) and (max-width: $tablet) {
		@include span-columns(6);

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	@media screen and (min-width: $tablet) {
		@include span-columns(3);

		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}

.col-4 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) and (max-width: $tablet) {
			@include span-columns(4);

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		@media screen and (min-width: $tablet) {
			@include span-columns(3);

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
}

.col-5 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(5);
	}
}

.col-6 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(6);

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.col-7 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(7);
	}
}

.col-8 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(8);
	}
}

.col-9 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(9);
	}
}

.col-10 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(10);
	}
}

.col-11 {
	@media screen and (max-width: $mobile) {
		@include span-columns(12);
	}
	@media screen and (min-width: $mobile) {
		@include span-columns(11);
	}
}

.col-12 {
	@include span-columns(12);
}