
// Colors
$blue: #2B303B;
$medium-blue: #232830;
$large-blue: #1C1F26;

$grey: #BFC5CE;
$small-grey: #343D46;

$orange: #C2876C;
$red: #BF616A;
$green: #7DB2B4;
$yellow: #9DB168;
$aqua: #0B87D5;
$rose: #B583A2;


// Alerts
$alert-blue: $aqua;
$alert-green: $green;
$alert-orange: $orange;
$alert-red: $red;


// Headers
$header: $large-blue;
$header-links: $grey;
$header-links-hover: $medium-blue;
$header-links-icons: $small-grey;

$background: $blue;


// Breakpoints
$mobile: 480px;
$tablet: 728px;