
*, ::after, ::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-size: .9em;
}




ul.inline {
	display: inline-flex;

	li {
	  display: inline-flex;

		a {}
	}
}

.hidden {
	display: none;
	visibility: hidden;
}