
.alerts {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
}

.alert {
	position: relative;
	margin: 10px;
	color: #fff;
  color: rgba(255, 255, 255, 0.9);
	border-radius: 2px;
	padding: 10px 43px 10px 57px;
  min-height: 40px;
  width: 330px;
  font-weight: bold;
  background: rgba(0,0,0,0.1);

	&::before {
		content: "test";
		font-family: FontAwesome; 
		font-style: normal; 
		font-weight: normal; 
		text-decoration: inherit;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		font-size: 1.4em;
	  padding: 6px 15px;
	  background: rgba(0, 0, 0, 0.1);
	}

	.alert__close {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 13px 18px;
	  background: none;
	  opacity: .4;

	  &:hover {
	  	opacity: .6;
	  }

	  &:focus {
	  	outline: 0
	  }

		&::before {
			content: "\f057";
			font-family: FontAwesome; 
			font-style: normal; 
			font-weight: normal; 
			text-decoration: inherit;
		  font-size: 18px;
			margin: 11px 10px; 
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&.alert-info {
		background: $alert-blue;
		&::before { content: "\f05a"; }
	}

	&.alert-success {
		background: $alert-green;
		&::before { content: "\f058"; }
	}

	&.alert-warning {
		background: $alert-orange;
		&::before { content: "\f06a"; }
	}

	&.alert-error {
		background: $alert-red;
		&::before { content: "\f071"; }
	}

}