
ul {
	li {
		&.dropdown {
			position: relative;

			&:hover > ul {
				display: list-item;
				box-shadow: -1px 2px 3px -2px rgba(0, 0, 0, 0.6);
			}		

			ul {
				display: none;
				position: absolute; 
				z-index: 100;
				top: 40px;
				right: 0;
				background: $medium-blue;
				width: 240px;
				padding: 14px 10px;
				color: $grey;
			  font-size: .9em;
			}
		}

		&.sep {
		  height: 1px;
		  margin: 5px auto 10px;
		  background: $blue;
		}
	}
}
